---
import PostCard from '../../components/PostCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getPosts } from '../../lib/posts';
const posts = await getPosts();
---
<BaseLayout title="Articles" description="All articles by Nur Mufid.">
  <section class="container section">
    <h1>Articles</h1>
    <div class="grid">{posts.map((post) => <PostCard post={post} />)}</div>
  </section>
</BaseLayout>
